header {
    padding: 10px;
    color: rgb(171, 236, 236);
    background-color: rgb(0, 0, 70);
}

.html, .body {
    font-size: 1.1em;
    text-align: center;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .links a {
    text-decoration: none;
    padding-left: 10px;
    color: rgb(3, 189, 189)
  }

  h4 {
    color: navy;
    background-color: rgb(171, 236, 236);
  }

  h3 {
    color: navy;
    background-color: rgb(171, 236, 236);
  }

  img {
    float: right;
  }

  #canvas {
    background-image: -moz-linear-gradient(aqua white);
  }

  #form {
    padding-block: ;
  }

  .container {
    text-align: center;
    color: navy;
    background-color: rgb(171, 236, 236)
  }